.contentor {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 1px solid black;
    padding: 10px;
    border-radius: 15px;
}

.informacoesUtilizador {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 30px;
}

.acoes {
    display: flex;
    gap: 20px;
}

.icon {
    cursor: pointer;
    padding: 12px;
    border-radius: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.iconEditar {
    background-color: #7BC7FF;
}

.iconEditar:hover {
    background-color: #25a4ff;
}

.iconRemover {
    background-color: #FF8C8C; 
}

.iconRemover:hover {
    background-color: #fd5858; 
}

.iconInfo {
    background-color: #DCDCDC;
}

.iconInfo:hover {
    background-color: #bababa;
}

.fotoPerfil {
    border-radius: 100%;
    width: 40px;
    height: 40px;
}

span{
    width: 150px;
    overflow-x: hidden;
}

.estado {
    padding: 5px;
    border-radius: 10px;
    text-align: center;
}

.estadoAtivo {

    background-color: #D3FEE6;
    color: #1B7845;
    border: 1px solid #1B7845;
}

.estadoInativo {
    background-color: #FF8C8C;
    color: #981a1a;
    border: 1px solid #981a1a;
}

.email {
    width: 250px;
    overflow-x: hidden;
}