.estrutura {
  width: 100%;
  min-height: 100%;
  background-color: white;
  display: flex;
  flex-direction: column;
  position: relative;
  overflow: auto;
}

.painel {
  height: 100%;
  padding: 20px;
  display: flex;
  flex-direction: column;
}

.painelSuperior {
  height: fit-content;
  display: flex;
  flex-direction: column;
}

.painelSuperior hr {
  margin: 0;
}

.voltarAtras {
  display: flex;
  align-items: center;
  gap: 5px;
  padding: 5px;
  cursor: pointer;
  width: fit-content;
  border-radius: 5px;
}

.voltarAtras:hover {
  color: rgba(0, 0, 0, 0.5);
}

.voltarAtras p {
  padding: 0;
  margin: 5px;
}

.header {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  flex: 1;
  padding: 35px 10px;
  gap: 40px;
  background-color: rgba(244, 243, 243, 0.498);
  border-radius: 10px;
}

.foto {
  width: 160px;
  height: 160px;
  border-radius: 50%;
  overflow: hidden;
  border: 1px solid black;
  background-color: #f0f0f0;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
}

.fotoJogador {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 50%;
}

.fotoClube {
  width: 50px;
  height: 50px;
}

.nomeClube {
  display: flex;
  align-items: center;
  gap: 10px;
}

.nomeJogador {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 15px;
}

.nomeJogador h3 {
  font-size: 30px;
}

.modoDetalhes {
  background-color: #ededed;
  width: fit-content;
  padding: 5px 25px;
  text-align: center;
  border-radius: 25px;
  border: 1px solid #666666;
  color: #666666;
}

.modoDetalhes p {
  margin: 0;
  padding: 0;
}

.painelBotoes{
  display: flex;
  gap: 20px;
}

.painelOpcoes {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #e5e7eb;
}

.opcoes {
  display: flex;
  gap: 15px;
  margin-top: 10px;
}

.opcoes li {
  display: flex;
  align-items: center;
  padding: 10px 0px;
  cursor: pointer;
  font-size: 18px;
}

.opcaoInativa {
  position: relative;
}

.opcaoInativa:hover {
  color: rgba(0, 0, 0, 0.7);
}

.opcaoInativa:hover::after {
  content: "";
  position: absolute;
  left: 50%;
  bottom: -2px;
  width: 70%;
  transform: translateX(-50%);
  height: 3px;
  background-color: rgba(0, 0, 0, 0.5);
}

.opcaoAtiva {
  position: relative;
  color: #2170bd;
  font-weight: bold;
}

.opcaoAtiva::after {
  content: "";
  position: absolute;
  left: 50%;
  bottom: -2px;
  width: 70%;
  transform: translateX(-50%);
  height: 3px;
  background-color: #2170bd;
}

.conteudo {
  padding: 20px 30px;
  border-left: 1px solid #eef0f4;
  border-right: 1px solid #eef0f4;
  border-bottom: 1px solid #eef0f4;
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.1);
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

.infoJogador {
  display: grid;
  grid-gap: 40px;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}

.titulo {
  font-size: 20px;
  font-weight: 600;
}

.grelhaInscricoes {
  display: grid;
  grid-gap: 30px;
  grid-template-columns: repeat(auto-fit, minmax(700px, 1fr));
}
