.painelBotoes {
  display: flex;
  justify-content: space-between;
  height: 50px;
}

.links {
  display: flex;
  gap: 5px;
}

.link {
  border: 1px solid rgba(0, 0, 0, 0.5);
  color: black;
  border-radius: 5px;
  cursor: pointer;
  font-size: 15px;
  padding: 0px 15px;
  display: flex;
  align-items: center;
  text-decoration: none;
  gap: 5px;
}

.linkAtivo {
  background-color: #2170bd;
  color: white;
  border: 1px solid #2170bd;
}

.linkInativo:hover {
  background-color: #f2f2f2;
}

.painelInferior {
  margin-top: 20px;
}
