.estrutura {
  width: 100%;
  min-height: 100%;
  background-color: white;
  display: flex;
  flex-direction: column;
  position: relative;
  overflow: auto;
}

.painel {
  height: 100%;
  padding: 20px;
  display: flex;
  flex-direction: column;
}

.titulo {
  font-size: 25px;
  font-weight: bold;
  text-decoration: underline;
  margin: 0;
  padding: 10px 20px 10px;
}

.conteudo {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
}

.foto {
  position: relative;
  width: 160px;
  height: 160px;
  border-radius: 50%;
  overflow: hidden;
  border: 1px solid black;
  background-color: #f0f0f0;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
  margin-bottom: 20px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

.fotoUtilizador {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 50%;
}

.modoDetalhes {
  background-color: #a6d2f3;
  width: 150px;
  text-align: center;
  padding: 5px 0px;
  border-radius: 25px;
  border: 1px solid #1b3c78;
  color: #1b3c78;
  margin-bottom: 10px;
}

.modoDetalhes p {
  margin: 0;
  padding: 0;
}

.formPerfil {
  width: 100%;
  display: flex;
  align-items: center;
}

.campo {
  background-color: #ebeaea;
  border: 1px solid #cfcfcf;
  border-radius: 10px;
  padding: 10px;
  margin-bottom: 20px;
  font-size: 18px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.campo:hover {
  background-color: #f3f3f3;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.15);
}

.inputCampo {
  background: transparent;
  border: none;
  padding: 5px;
  font-size: 18px;
  flex: 1;
  margin: 0;
}

.inputNome {
  background-color: transparent;
  border: none;
  border-bottom: 1px solid #cfcfcf;
  padding: 5px;
  font-size: 30px;
  font-weight: bold;
  text-align: center;
  margin-bottom: 20px;
  width: 50%;
}

.inputNome:hover {
  background-color: #f6f6f6;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.15);
}

.alterarPassword {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  padding: 0px 10px;
  border-radius: 10px;
  border: 1px solid rgba(0, 0, 0, 0.5);
  background-color: white;
  cursor: pointer;
  position: absolute;
  top: 0;
  right: 25%;
  font-size: 15px;
}

.alterarPassword:hover {
  background-color: rgba(246, 244, 244, 0.552);
}

.botaoGuardar {
  background-color: #2989e9;
  color: white;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  font-size: 18px;
  width: 400px;
  padding: 15px;
}

.botaoGuardar:hover {
  background-color: #0f71d3;
}

.botaoGuardar:disabled {
  background-color: rgb(195, 195, 195);
  cursor: default;
}

.caixaBotoes {
  width: 50%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

.botaoResetar {
  width: 150px;
  background-color: white;
  color: black;
}

.botaoResetar:hover {
  background-color: rgba(246, 244, 244, 0.552);
}

.botaoResetar:disabled {
  color: white;
  background-color: rgb(195, 195, 195);
  cursor: default;
  border: none;
}

.caixaCampo {
  width: 50%;
}

.erro {
  color: red;
  font-size: 0.9rem;
  margin: 5px 0;
}

.uploadIcon {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  object-fit: cover;
  position: absolute;
  cursor: pointer;
  transition: background-color 0.3s ease-out, opacity 0.3s ease-out;
  border-radius: 50%;
}

.uploadIcon:hover {
  background-color: rgb(217, 217, 217);
  opacity: 50%;
}