

#logo-Login {
    width: 150px;
}

form {
    display: flex;
    flex-direction: column;
}

form input {
    margin-bottom: 15px;
    border: 1px solid black;
    border-radius: 10px;
    font-size: 18px;
    padding: 15px 10px;
}

form button {
    background-color: #2170BD;
    color: white;
    border: 1px solid black;
    border-radius: 10px;
    margin-bottom: 15px;
    height: 50px;
    cursor: pointer;
    font-size: 18px;
}

#corAzul-Login {
    text-decoration: underline;
}

#erro {
    background-color: #f1aeb5;
    border: 1px solid #58151c;
    padding: 15px;
    border-radius: 10px;
}

/* Referência -> https://stackoverflow.com/questions/2781549/removing-input-background-colour-for-chrome-autocomplete */
input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus, 
input:-webkit-autofill:active{
    -webkit-box-shadow: 0 0 0 30px #E7F5FF inset !important;
}

input:-webkit-autofill{
    -webkit-text-fill-color: rgb(0, 0, 0) !important;
}

input:focus {
    outline: none;
}


