* {
    background-color: #E7F5FF;
    color: black; 
}

#imagem{
    margin-bottom: 15px;
}

#logo {
    width: 150px;
}

#texto {
    font-size: 18px;
}

#corVermelho{
    color: #371c1c;
}

#corAzul {
    color: #003ECB;
}

.icon{
    height: 40px;
    width: 40px;
}