@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');

:root {
  font-family: "Montserrat", sans-serif;

}

html, body, #root {
  height: 100%;
  margin: 0;
  padding: 0;
}



